body {
  font-family: Arial, sans-serif;
}

form {
  width: 300px;
  margin: 20px auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

label {
  margin-top: 1em;
  display: block;
}

input {
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}
